# ignore object files, binaries and caches
*.out
.obj/
.cache/*

# used for enhanced development
tags
compile_commands.json

# ignore compiled, binary, but not src folder
valery
valery-interpreter
!src/valery
!include/valery

.idea/*
fresh-interpreter
